/* 
 * Qur'an Web
 * Copyright 2021 · Ahmad Rivaldy S
 */


@import url('./assets/css/font-config.css');

/* General */
*
{
    color: #555;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    padding: 0;
    margin: 0;
}

:root
{
    --content-width: 1024px;
}

::-webkit-scrollbar
{
    width: 14px;
}

::-webkit-scrollbar-track
{
    border-radius: 7px;
    background-color: rgba(204, 204, 204, 0.5);
}

::-webkit-scrollbar-thumb
{
    background-color: rgba(204, 204, 204, 0.9);
    border-radius: 7px;
}

body
{
    background-color: #f8f8f8;
}

a
{
    text-decoration: none;
}

b
{
    font-weight: 600;
}

.content
{
    width: var(--content-width);
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    box-sizing: border-box;
}

.content-bg
{
    width: calc(var(--content-width) - 30px);
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(234, 234, 234, 0.8);
}

.header-background
{
    width: calc(var(--content-width) - 30px);
    background: linear-gradient(150deg, #C5E1A5, #009688);
    border-radius: 10px;
    margin: auto;
    margin-top: 95px;
    margin-bottom: 30px;
}

.header-illustration
{
    height: 250px;
    display: flex;
    align-items: center;
    background-size: 30%;
    background-image: url('./assets/images/al-quran.png');
    background-repeat: no-repeat;
    background-position: bottom -50px right -20px;
    border-radius: 10px;
}

.header-text
{
    padding-left: 50px;
    box-sizing: border-box;
}

.header-text > *
{
    color: #fff;
}

.header-text h1
{
    font-size: 36px;
    font-weight: 600;
    line-height: 43px;
}

.header-text hr
{
    border: 0;
    height: 1px;
    background: #fff;
}

.header-text p
{
    font-size: 20px;
    line-height: 27px;
}