@import url('./assets/css/font-config.css');
@import 'tailwindcss';

@theme {
    --font-rubik: Rubik, sans-serif;
    --font-saleem-quran: 'Saleem Quran', sans-serif;
}

@layer base {
    body {
        color: #757575;
        background-color: #f8f8f8;
        font-family: Rubik, sans-serif;
        font-weight: 300;
    }

    a {
        text-decoration: none;
    }
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    border-radius: 7px;
    background-color: rgba(204, 204, 204, 0.5);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(204, 204, 204, 0.9);
    border-radius: 7px;
}

@utility content-container {
    width: 100%;
    max-width: 1024px;
    padding-inline: 15px;
    margin-inline: auto;
    box-sizing: border-box;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

.skeleton-animation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0,
        rgba(255, 255, 255, 0.2) 20%,
        rgba(255, 255, 255, 0.5) 60%,
        rgba(255, 255, 255, 0)
    );
    animation: shimmer 1s infinite;
}
